version: 1
build:
  main: cmd/kyved
  proto:
    path: proto
    third_party_paths:
      - third_party/proto
      - proto_vendor
accounts:
  - name: dummy # kyve137v27tfyegc083w5kj9zhhrfk34n8vhjma73gq
    coins:
      - 1000000tkyve # 1 tkyve -> 6 decimals
    mnemonic: expect crisp umbrella hospital firm exhibit future size slot update blood deliver fat happy ghost visa recall usual path purity junior ring ordinary stove
  - name: alice # kyve1jq304cthpx0lwhpqzrdjrcza559ukyy3zsl2vd
    coins:
      - 1000000000acoin # 1000 acoins -> 6 decimals
      - 1000000000000bcoin # 1000 bcoins -> 9 decimals
      - 1000000000ccoin # 1000 ccoins -> 6 decimals
      - 2000000000000tkyve # 2M tkyve -> 6 decimals
    mnemonic: worry grief loyal smoke pencil arrow trap focus high pioneer tomato hedgehog essence purchase dove pond knee custom phone gentle sunset addict mother fabric
  - name: bob # kyve1hvg7zsnrj6h29q9ss577mhrxa04rn94h7zjugq
    coins:
      - 1000000000acoin # 1000 acoins -> 6 decimals
      - 1000000000000bcoin # 1000 bcoins -> 9 decimals
      - 1000000000ccoin # 1000 ccoins -> 6 decimals
      - 1000000000000tkyve # 1M tkyve -> 6 decimals
    mnemonic: crash sick toilet stumble join cash erode glory door weird diagram away
      lizard solid segment apple urge joy annual able tank define candy demise
  - name: charlie #kyve1ay22rr3kz659fupu0tcswlagq4ql6rwm4nuv0s
    coins:
      - 1000000000acoin # 1000 acoins -> 6 decimals
      - 1000000000000bcoin # 1000 bcoins -> 9 decimals
      - 1000000000ccoin # 1000 ccoins -> 6 decimals
      - 1000000000000tkyve # 1M tkyve -> 6 decimals
    mnemonic: shoot inject fragile width trend satisfy army enact volcano crowd message
      strike true divorce search rich office shoulder sport relax rhythm symbol gadget
      size
  - name: faucet # kyve1kahmjds2rxj2qzamdvy5m8ljnkqrf5xhetes7q
    coins:
      - 1000000000000tkyve # 1M tkyve -> 6 decimals
    mnemonic: open home share route party lake room solution quantum pact model avocado
      humor dilemma review desert turtle total humor produce rate keen eagle fee
  - name: foundation # kyve1fd4qu868n7arav8vteghcppxxa0p2vna5f5ep8
    coins:
      - 1000000tkyve # 1 tkyve -> 6 decimals
    mnemonic: evidence taxi material cabin annual phrase practice unhappy safe jealous
      section drink illness panther bread aim mouse dolphin deliver ready doll finger search cheap
  - name: foundation_inflation # kyve1tuxsc7ez79aydyee86qxm05zyx0l7d78c2zzsn
    coins:
      - 1000000tkyve # 1 tkyve -> 6 decimals
    mnemonic: hold urge sustain chef furnace foam oven fall harsh core anchor during crew secret
      craft rhythm choose gold soft aisle sort phrase enter orphan
faucet:
  name: faucet
  coins:
    - 1000000000000tkyve
  host: 0.0.0.0:4500
client:
  openapi:
    path: docs/swagger/swagger.yml
genesis:
  app_state:
    bank:
      balances:
        - address: "kyve1e29j95xmsw3zmvtrk4st8e89z5n72v7nf70ma4"  # team module
          coins:
            - denom: "tkyve"
              amount: "165000000000000000"
      supply:
        - denom: "tkyve"
          amount: "165000000000000000"
    multi_coin_rewards:
      params:
        multi_coin_distribution_pending_time: 10
        multi_coin_distribution_policy_admin_address: "kyve1jq304cthpx0lwhpqzrdjrcza559ukyy3zsl2vd"
    delegation:
      params:
        unbonding_delegation_time: 10
    global:
      params:
        burn_ratio: "0.5"
        min_gas_price: "0.02"
    gov:
      params:
        voting_period: 120s
        max_deposit_period: 300s
        min_deposit:
          - amount: "50_000"
            denom: tkyve
        expedited_voting_period: 60s
        expedited_min_deposit:
          - amount: "100_000"
            denom: tkyve
    mint:
      params:
        mint_denom: "tkyve"
    team:
      account_count: "8"
      account_list:
        - id: "0"
          total_allocation: "1000000000000"
          unlocked_claimed: "0"
          clawback: "1686693600"
          commencement: "1663106400"
        - id: "1"
          total_allocation: "1000000000000"
          unlocked_claimed: "0"
          clawback: "1749852000"
          commencement: "1694642400"
        - id: "2"
          total_allocation: "1000000000000"
          unlocked_claimed: "0"
          clawback: "1694642400"
          commencement: "1615676400"
        - id: "3"
          total_allocation: "1000000000000"
          unlocked_claimed: "0"
          clawback: "1702508400"
          commencement: "1647212400"
        - id: "4"
          total_allocation: "1000000000000"
          unlocked_claimed: "0"
          clawback: "1741906800"
          commencement: "1663106400"
        - id: "5"
          total_allocation: "1000000000000"
          unlocked_claimed: "0"
          clawback: "1804978800"
          commencement: "1710370800"
        - id: "6"
          total_allocation: "1000000000000"
          unlocked_claimed: "0"
          clawback: "1741906800"
          commencement: "1615676400"
        - id: "7"
          total_allocation: "1000000000000"
          unlocked_claimed: "0"
          clawback: "1804978800"
          commencement: "1647212400"
    pool:
      params:
        protocol_inflation_share: "0.1"
        max_voting_power_per_pool: "1"
      pool_count: "1"
      pool_list:
        - config: "{\"network\":\"kyve-1\",\"rpc\":\"https://rpc.kyve.network\"}"
          current_compression_id: "1"
          current_index: "0"
          current_key: ""
          current_storage_provider_id: "3"
          current_summary: ""
          id: "0"
          logo: "ar://WOiYR7qF7G_dp6eO0bFC7AorS7601qgek3X_IeAZook"
          max_bundle_size: "100"
          min_delegation: "100000000"
          name: "KYVE"
          inflation_share_weight: "1"
          disabled: false
          runtime: '@kyvejs/tendermint'
          start_key: "1"
          total_bundles: "0"
          upload_interval: "60"
          protocol:
            version: "1.2.8"
            binaries: "{\"kyve-linux-arm64\":\"https://github.com/KYVENetwork/kyvejs/releases/download/%40kyvejs%2Ftendermint%401.1.6/kyve-linux-arm64.zip\",\"kyve-linux-x64\":\"https://github.com/KYVENetwork/kyvejs/releases/download/%40kyvejs%2Ftendermint%401.1.6/kyve-linux-x64.zip\",\"kyve-macos-x64\":\"https://github.com/KYVENetwork/kyvejs/releases/download/%40kyvejs%2Ftendermint%401.1.6/kyve-macos-x64.zip\"}"
            last_upgrade: "0"
          upgrade_plan:
            version: ""
            binaries: ""
            scheduled_at: "0"
            duration: "0"
    slashing:
      params:
        signed_blocks_window: 10
        min_signed_per_window: "0.5"
    stakers:
      params:
        commission_change_time: 10
    staking:
      params:
        bond_denom: tkyve
    bundles:
      params:
        storage_costs:
          - storage_provider_id: "3"
            cost: "0.000000006288"
    funders:
      params:
        min_funding_multiple: 10
        coin_whitelist:
          - coin_denom: "tkyve"
            min_funding_amount: "10000000"
            min_funding_amount_per_bundle: "1000000"
            coin_weight: "0.055"
          - coin_denom: "acoin"
            min_funding_amount: "10000000"
            min_funding_amount_per_bundle: "1000000"
            coin_weight: "10.3"
          - coin_denom: "bcoin"
            min_funding_amount: "10000000000"
            min_funding_amount_per_bundle: "1000000000"
            coin_weight: "0.095"
          - coin_denom: "ccoin"
            min_funding_amount: "10000000"
            min_funding_amount_per_bundle: "1000000"
            coin_weight: "0.86"
      funder_list:
        - address: "kyve1jq304cthpx0lwhpqzrdjrcza559ukyy3zsl2vd"
          contact: "https://twitter.com/kyvenetwork"
          moniker: "Alice"
          description: "Alice is the first funder of the KYVE network."
          website: "https://kyve.network"
          identity: "0657A086E5201562"
        - address: "kyve1hvg7zsnrj6h29q9ss577mhrxa04rn94h7zjugq"
          contact: "https://twitter.com/kyvenetwork"
          moniker: "Bob"
          description: "Bob is the second funder of the KYVE network."
          website: "https://kyve.network"
          identity: "0657A086E5201562"
      funding_list: []
      funding_state_list:
        - pool_id: 0
          active_funder_addresses: []
  chain_id: kyve-local
validators:
  - name: alice
    bonded: 1000000000000tkyve
    app:
      minimum-gas-prices: "0.02tkyve"
    config:
      consensus:
        timeout_commit: "2s"
        timeout_propose: "2s"
